# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_APP_NAME=Safiri Cover Kenya
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth
NEXT_PUBLIC_AUTH_ENABLED=true

# Payment
NEXT_PUBLIC_MPESA_ENABLED=false
NEXT_PUBLIC_MPESA_BUSINESS_SHORT_CODE=
NEXT_PUBLIC_MPESA_CONSUMER_KEY=
NEXT_PUBLIC_MPESA_CONSUMER_SECRET=
